
body{
  background-image: url("FB_IMG_1669395018921.jpg");
  background-size: cover;
}


.title{
  color: white;
  text-align: center;
}


ul{
  color: azure;
list-style: none;

font-size: 20px;
text-align: center;
display: flex;
}

a{
  color:rgb(250, 247, 247);
  
}


.box{
  
  color: azure;
  border-radius: 20px;
  text-align: center;
  padding: 9px;
  box-align: center;
  box-sizing: border-box;
  margin: 20px;
font-size: 20px;
display: flex;
}
.container3{
  text-align: center;
}


h3{
  color:azure;
}

.box1{
  height: 150px;
  width: 100px;
  border-radius: 20px;
  box-decoration-break: none;
   border-style:double;
   border-color: rgb(17, 17, 17);
   box-align:center;
}

.box2{
  height: 50px;
  width: 50px;
  border-radius: 20px;
  box-decoration-break: slice;
   border-style: dashed;
   border-color: rgb(162, 250, 62); 
   border-radius: 20px;
   -webkit-box-align: ;
}

audio{
  background-image: url(fond\ music.jpg);
  color: none;
  backface-visibility: initial;
}
.container2{
  text-align: center;
}
h4{
  color:  beige;
  text-align: center;
}
select{
  color:rgb(184, 16, 16);
  text-align: center;
  text-align: center;

}
h2{
  color:azure;
}
form{
  color:azure;
}
footer{
  color:azure;
}
h1{
  color:azure;
}
.container4{
  text-align: center;
}
.container5{
  text-align: right;
}
